/vendor
/node_modules
Homestead.yaml
Homestead.json
.env
.idea
/public/uploads/serial/resize/*
/public/uploads/serial/icon/*
!/public/uploads/serial/icon/example.jpg
/public/uploads/serial/originals/*

/public/uploads/epizodes/resize/*
/public/uploads/epizodes/icon/*
!/public/uploads/epizodes/icon/example.jpg
/public/uploads/epizodes/originals/*